/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos Generales */
/* ordenar header main y footer */
body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/* estilos del Header*/
header {
  background-color: #4B22F4;
}
header .navbar-brand {
  color: white;
}
header .navbar-brand:hover {
  color: white;
  font-weight: 600;
}

.container-fluid a {
  color: white;
}

.collapse ul li a {
  color: white;
  position: relative;
}
.collapse ul li a:hover {
  color: white;
  font-weight: 600;
}
.collapse ul li a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.collapse ul li a:hover::after {
  width: 100%;
}

main {
  background-color: black;
  color: white;
  padding: 1rem;
  min-width: 80%;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spotify {
  font-size: 1.5rem;
}
.spotify iframe {
  width: auto;
}

.formulario {
  background-color: #433878;
  padding: 1rem ;
  border-radius: 0.5rem;
  margin: 1rem 2rem;
  width: 80%;
}
.formulario h1 {
  text-align: center;
  font-size: 2.5rem;
}
.formulario fieldset {
  border: none;
}
.formulario fieldset legend {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

.campo {
  margin-bottom: 0.5rem;
}
.campo label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: block;
}
.campo textarea {
  height: 10rem;
}

.input-text {
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.enviar input {
  background-color: #4B22F4;
  color: white;
  padding: 0.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: none;
}

textarea {
  resize: none;
}

footer {
  background-color: #4B22F4;
  color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

/*estilos imagenes*/
img {
  width: 90%;
  padding-bottom: 0.5rem;
}

.logo img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

/*Estilos Compu*/
@media (min-width: 1024px) {
  main {
    min-height: 100vh;
    font-size: 1.3rem;
  }
  .principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .img-contacto{
    text-align: center;
  }

  .principal img, .contacto img {
    max-width: 600px;
    padding: 1rem 2rem;
  }
  img {
    height: 400px;
    max-width: 400px;
  }
  .albumes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
  .img-eventos, .img-logros, .fotos, .videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .spotify {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
  }
  footer {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
